<template>

    <el-container>
        <el-header style="text-align: right">
            <el-dropdown style="margin-top: 10px" trigger="click">
                <el-button type="Info">{{$page.prop.auth.user.username}}</el-button>
                <el-dropdown-menu slot="dropdown">
                    <a href="/logout">
                        <el-dropdown-item>Salir</el-dropdown-item>
                    </a>

                </el-dropdown-menu>
            </el-dropdown>
        </el-header>

        <el-container>
            <el-main>
                <slot></slot>
            </el-main>
        </el-container>

    </el-container>


</template>
<script>

    export default {
        name: 'layout',
        data() {
            return {

            }

        },
        methods: {
        },

        mounted() {

        }
    }
</script>
