<template>
    <layout>
        <div>
            <el-card class="formu1" shadow="never">
                <el-form :model="form" ref="form" :rules="rules">

                    <el-form-item label="Nombre del Libro" prop="libronombre">
                        <el-input placeholder="Libro" v-model="form.libronombre"></el-input>
                    </el-form-item>

                    <el-form-item label="Autor o autoras del libro" prop="libroautor">
                        <el-input placeholder="Autor" v-model="form.libroautor"></el-input>
                    </el-form-item>

                    <el-form-item label="Publicadora del libro" prop="libropublicadora">
                        <el-input placeholder="Publicadora" v-model="form.libropublicadora"></el-input>
                    </el-form-item>

                    <el-form-item label="Pais de origen" prop="libropais">
                        <el-input placeholder="Pais" v-model="form.libropais"></el-input>
                    </el-form-item>

                    <el-form-item label="Fecha de publicacion" prop="librofecha">
                        <el-col :span="11">
                            <el-date-picker type="date" placeholder="Seleccione una fecha" v-model="form.librofecha" style="width: 100%;"></el-date-picker>
                        </el-col>
                        <el-col class="line" :span="2">-</el-col>
                        <el-col :span="11">
                            <el-time-picker placeholder="Seleccione una hora" v-model="form.librohora" style="width: 100%;"></el-time-picker>
                        </el-col>
                    </el-form-item>


                    <div style="text-aling: center">
                        <el-button :plain="true" @click="open2">Enviar</el-button>

                        <el-button @click="resetForm('form')" type="primary" icon="el-icon-delete"></el-button>


                    </div>

                </el-form>


            </el-card>
            <div>
                <el-table class="tabla" :data="tableData" style="width: 50%">
                    <el-table-column prop="name" label="Name" width="180"></el-table-column>
                    <el-table-column prop="lastname" label="Lastname" width="180"></el-table-column>
                    <el-table-column prop="age" label="Age" width="180"></el-table-column>
                    <el-table-column prop="career" label="Career" width="180"></el-table-column>
                    <el-table-column prop="college" label="College" width="180"></el-table-column>
                    <el-table-column prop="yeargrad" label="YearGrad" width="180"></el-table-column>
                </el-table>
            </div>
        </div>
    </layout>




</template>
<script>
    import Layout from "../../Shared/Layout";


    export default {
        components: {
            Layout
        },
        data() {
            return {
                form:{
                   libronombre: '',
                   libroautor: '',
                    libropublicadora: '',
                    libropais: '',
                    librofecha: ''
                },
                rules: {
                    libronombre: {required: true, message: 'Debe ingresar el nombre del libro', trigger: 'blur'},
                    libroautor: {required: true, message: 'Debe ingresar el nombre del autor', trigger: 'blur'},
                    libropublicadora: {required: true, message: 'Debe ingresar el nombre de la publicadora', trigger: 'blur'},
                    libropais: {required: false, message: 'No es necesario ingresar este dato', trigger: 'blur'},
                    librofecha: {required: true, message: 'Debe ingresar la fecha del libro', trigger: 'blur'},
                    librohora: {required: true, message: 'Debe ingresar la fecha del libro', trigger: 'blur'},
                },

                resetForm(formName) {
                    this.$refs[formName].resetFields();
                },
                tableData: [{
                    name: 'Julia',
                    lastname: 'Martinez',
                    age: '23',
                    career: 'Math',
                    college: 'UCLA',
                    yeargrad: '2015',
                }, {
                    name: 'John',
                    lastname: 'Smith',
                    age: '58',
                    career: 'Science',
                    college: 'MI State',
                    yeargrad: '1998',
                }, {
                    name: 'Stacy',
                    lastname: 'Lopez',
                    age: '65',
                    career: 'Accountant',
                    college: 'NOVA',
                    yeargrad: '1985',
                }, {
                    name: 'Mary',
                    lastname: 'Brown',
                    age: '29',
                    career: 'Engineer',
                    college: 'MIT',
                    yeargrad: '2010',
                }]

            }
        },
        methods: {
            open2() {
                this.$message({
                    showClose: true,
                    message: 'Felicidades, ha enviado el formulario con exito',
                    type: 'success'
                });

                },
                resetForm(formName) {
                this.$refs[formName].resetFields();
            }


        },


    }
</script>

